<div class="welcome-body">
	<div class="section">
    	<div class="section-header">
			<h1>Editing User</h1>
		</div>
		<div class="section-content">
			<%= render 'form' %>
			<div class="row row-centered">
				<%= link_to 'Mostrar', @user, :class => "btn btn-default col-xs-12 col-md-3 col-centered" %>
				<%= link_to 'Regresar', users_path, :class => "btn btn-default col-xs-12 col-md-3 col-centered" %>
			</div>
			<br class="clear">
		</div>
	</div>
</div>
