<div class="welcome-body">
	<div class="section">
		<div class="section-header">
			<h1>Usuario nuevo</h1>
		</div>
		<div class="section-content">
			<%= render 'form' %>
			<div class="row row-centered">
				<%= link_to 'Back', users_path, :class => "btn btn-default col-xs-12 col-md-3 col-centered" %>
			</div>
		</div>
	</div>
</div>
