<div class="welcome-body">
	<div class="section">
		<div class="section-header">
			<h1>New Report Type</h1>
		</div>
		<div class="section-content">
			<%= render 'form', report_type: @report_type %>
			<div class="row row-centered">
				<%= link_to 'Regresar', report_types_path, :class => "btn btn-default col-xs-12 col-md-3 col-centered" %>
			</div>
		</div>
	</div>
</div>