<div class="welcome-body">
	<div class="section">
		<div class="section-header">
			<h1>Nuevo rol</h1>
		</div>
		<div class="section-content row row-centered">
			<%= render 'form' %>
			<%= link_to 'Back', roles_path, :class => "btn btn-default col-xs-12 col-md-3 col-centered" %>
		</div>
	</div>
</div>